
{% extends "api_custom.html" %}

{% block request_info %}
<div class="btn-toolbar justify-content-between" role="toolbar">
  {% if links.4 and links.4.rel == "prev" %}
  <div class="btn-group" role="group">
    <a class="btn btn-primary" href="{% if links.4.href == None %} # {% else %} {{ links.4.href }} {% endif %}" role="button">&laquo; Previous Page</a>
  </div>
  {% endif %}
  <div class="btn-group" role="group">
    <a class="btn btn-primary" href="{{ links.1.href }}" role="button">JSON</a>
  </div>
  {% if links.3 and links3.rel == "next" %}
  <div class="btn-group" role="group">
    <a class="btn btn-primary" href="{% if links.3.href == None %} # {% else %} {{ links.3.href }} {% endif %}" role="button">Next Page &raquo;</a>
  </div>
  {% endif %}

</div>




{% if type == 'FeatureCollection' %}
  {% block feature_collection %}
  <div>
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th></th>
        <th></th>
      </tr>

    {% for feature in features %}
      <tr class="Feature" vocab="http://schema.org/" typeof="Place" resource="#{% url 'apisite-detail' feature.id %}">
        <td property="identifier"><a href="{% url 'apisite-detail' feature.id %}">{{ feature.id }}</a></td>
        <td property="name">{{ feature.properties.site_name }}</td>
        <td property="latitude">{{ feature.geometry.coordinates.0 }}</td>
        <td property="longitude">{{ feature.geometry.coordinates.1 }}</td>
        <td>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#agencyModal{{feature.id}}">
            Agency Info
          </button>
          <!-- Agencies Modal -->
          <div class="modal fade" id="agencyModal{{feature.id}}" tabindex="-1" role="dialog" aria-labelledby="agencyModalTitle{{feature.id}}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="agencyModalTitle{{feature.id}}">ID {{feature.id}} - {{feature.properties.site_name}} - Operating Agencies</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <table class="table">
                    <tr>
                      <th>Agency</th>
                      <th>From</th>
                      <th>To</th>
                    </tr>
                    {% for a in feature.properties.site_agencies %}
                    <tr property=agent typeof=Organisation>
                      <td property="name"><a property="mainEntityOfPage" typeof="URL" href="https://{{ a.agency.website }}">{{ a.agency_name }}</a></td>
                      <td property="startTime">{{ a.from_date }}</td>
                      <td property="endTime">{{ a.to_date }}</td>
                    </tr>
                    {% endfor %}
                  </table>


                </div>
                <!--div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div-->
              </div>
            </div>
          </div>
        </td>
        <td>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#identifierModal{{feature.id}}">
            Identifiers
          </button>
          <!-- Identifiers Modal -->
          <div class="modal fade" id="identifierModal{{feature.id}}" tabindex="-1" role="dialog" aria-labelledby="identifierModalTitle{{feature.id}}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="identifierModalTitle{{feature.id}}">ID {{feature.id}} - {{feature.properties.site_name}} - Other Identifiers</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <table class="table">
                    <tr>
                      <th>Type</th>
                      <th>Identifier</th>
                    </tr>
                    {% for ident in feature.properties.site_identifiers %}
                    <tr property="sameAs" typeof="PropertyValue">
                      <td property="propertyID">{{ ident.identifier_name }}</td>
                      <td property="value">{{ ident.identifier }}</td>
                    </tr>
                    {% endfor %}
                  </table>
                </div>
                <!--div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div-->
              </div>
            </div>
          </div>
        </td>
      </tr>



    {% endfor %}

    </table>



  </div>

  {% endblock %}


{% elif type == 'Feature' %}
  {% block feature %}
  <div class="Feature" vocab="http://schema.org/" typeof="Place" resource="#{% url 'apisite-detail' id %}">
    <table class="table">
      <tr>
        <th>ID</th>
        <td property="identifier">{{ id }}</td>
      </tr>
      <tr>
        <th>Name</th>
        <td property="name">{{ properties.site_name }}</td>
      </tr>
      <tr>
        <td>Location</td>
        <td property="GeoCoordinates">{{ geometry.coordinates }}</td>
      </tr>
    </table>

    <h3>Other Identifiers</h3>
    <table class="table">
      <tr>
        <th>Identifier</th>
        <th>Type</th>
      </tr>
      {% for ident in properties.site_identifiers %}
      <tr property="sameAs" typeof="PropertyValue">
        <td property="value">{{ ident.identifier }}</td>
        <td property="propertyID">{{ ident.identifier_name }}</td>
      </tr>
      {% endfor %}
    </table>

    <h3>Operating Agencies</h3>
    <table class="table">
      <tr>
        <th>Agency</th>
        <th>From</th>
        <th>To</th>
      </tr>
      {% for a in properties.site_agencies %}
      <tr property=agent typeof=Organisation>
        <td property="name"><a property="mainEntityOfPage" typeof="URL" href="https://{{ a.agency.website }}">{{ a.agency_name }}</a></td>
        <td property="startTime">{{ a.from_date }}</td>
        <td property="endTime">{{ a.to_date }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endblock %}
{% endif %}

{% endblock %}
