
{% extends "api_custom.html" %}

{% block request_info %}

{% if results %}
  {# Paginated results #}
  {% block paginated_feature_collection %}
  <a href="{{ previous }}" class="previous">&laquo; Previous</a>

  <a href="{{ next }}" class="next">Next &raquo;</a>
  <p>Paginated results</p>
  <div>
    <table class="table">
      {% include "sites/feature_collection_table_headings.html" %}
      {% for feature in results.features %}
        {% include "sites/feature_collection_table_row.html" %}
      {% endfor %}
    </table>
  </div>

  {% endblock %}






{% else %}
  {# Pagination wasn't used so render results #}
  {% if type == 'FeatureCollection' %}
  {% block feature_collection %}
  <div>
    <table class="table">

    {% include "sites/feature_collection_table_headings.html" %}

    {% for feature in features %}
      {% include "sites/feature_collection_table_row.html" %}
    {% endfor %}

    </table>
  </div>

  {% endblock %}


  {% elif type == 'Feature' %}
  {% block feature %}
  <div class="Feature" vocab="http://schema.org/" typeof="Place" resource="#{% url 'apisite-detail' id %}">
    <table class="table">
      <tr>
        <th>ID</th>
        <td property="identifier">{{ id }}</td>
      </tr>
      <tr>
        <th>Name</th>
        <td property="name">{{ properties.site_name }}</td>
      </tr>
      <tr>
        <td>Location</td>
        <td property="GeoCoordinates">{{ geometry.coordinates }}</td>
      </tr>
    </table>

    <h3>Other Identifiers</h3>
    <table class="table">
      <tr>
        <th>Identifier</th>
        <th>Type</th>
      </tr>
      {% for ident in properties.site_identifiers %}
      <tr property="sameAs" typeof="PropertyValue">
        <td property="value">{{ ident.identifier }}</td>
        <td property="propertyID">{{ ident.identifier_name }}</td>
      </tr>
      {% endfor %}
    </table>

    <h3>Operating Agencies</h3>
    <table class="table">
      <tr>
        <th>Agency</th>
        <th>From</th>
        <th>To</th>
      </tr>
      {% for a in properties.site_agencies %}
      <tr property=agent typeof=Organisation>
        <td property="name"><a property="mainEntityOfPage" typeof="URL" href="https://{{ a.agency.website }}">{{ a.agency_name }}</a></td>
        <td property="startTime">{{ a.from_date }}</td>
        <td property="endTime">{{ a.to_date }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% endblock %}
  {% endif %}
{% endif %}
{% endblock %}
